html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Quicksand";
	color: #555555;
}

a {
	display: inline-block;
	text-decoration: none;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
}

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
}
